{
	"Path": [
		{
			"key": "internalStore",
			"value": "/tmp/internal_store_test/{tenant}",
			"type": "text",
			"description": "Path to the internal store where the tenant files are stored",
			"enabled": true
		}
	],
	"Document": [
		{
			"key": "number",
			"value": 99999,
			"type": "number",
			"description": "",
			"enabled": true
		},
		{
			"key": "correspondence_partner_guid",
			"value": "e602ddcb-e479-4cee-b268-e53bbecf6dc9",
			"type": "text",
			"description": "",
			"enabled": true
		}
	],
	"Client": [
		{
			"key": "id",
			"value": "e602ddcb-e479-4cee-b268-e53bbecf6dc9",
			"type": "text",
			"description": "",
			"enabled": true
		}
	],
	"TenantIDs":[
		50004,
		20542
	]
}